<div class="container">
    <div class="behind-box"><h2>That's All folks</h2></div>
    <div class="behind-part" id="behind-part"></div>
    <div class="behind-div">
        <div class="mugshot"></div>
        <p class="animate-para">I am Saram. I made this Interactive UI mockup from scratch using vanilla Javascript and Sass without the use of any framework like Bootstrap, Foundation etc. I hope you enjoyed your little visit. Bye Bye.</p>
    </div>
    <div class="box left" id="left"></div>
    <div class="box right" id="right"></div>
    <div class="content">
        <div class="left-content">
            <h2>Interactive UI Model</h2>
            <p>Enter some dummy data in the fields and the button will be enabled. Once enabled, press the button to see further effects.</p>
        </div>
        <div class="right-content">
            <h3>Login</h3>

            <input type="text" placeholder="Username or Email">
            <input type="password" placeholder="Enter random Password" id='password-field'>
            <button id="btn" disabled class="disable-btn">Login</button>
            <a href="#">Forgot Password?</a>
        </div>
    </div>
</div>