---
---    
    
$baseurl: "{{ site.baseurl }}"    


@font-face
    font-family: lato
    src: url($baseurl + '../fonts/Lato-Hairline.ttf')
    font-weight: 100

@font-face
    font-family: lato
    src: url($baseurl + '../fonts/Lato-Light.ttf')
    font-weight: 200        

@font-face
    font-family: lato
    src: url($baseurl + '../fonts/Lato-Regular.ttf')
    font-weight: 600    

@font-face
    font-family: lato
    src: url($baseurl + '../fonts/Lato-Black.ttf')
    font-weight: 1000

    
@import first-header
@import two-divs

    

*
    padding: 0
    margin: 0

html
    overflow-x: hidden

body
    background: #333
    overflow-x: hidden