<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Interactive UI Mockup Design">
    <meta name="keywords" content="Materialize, Mockup, UI, Design">
    <meta name="author" content="Saram Iqbal">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <title>{{site.name}}</title>
</head>
<body>
    {% include first_header.html %}
    {% include two_divs.html %}

    <script src="{{ 'assets/js/particles.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
</body>
</html>